<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.transposesolutions.financialratiocalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinancialRatioCalculator">
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads. ca-app-pub-3940256099942544~3347511713"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <activity android:name=".PriceRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".PriceRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".PayoutRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".PayoutRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".EarningsRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".EarningsRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".CoverageRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".CoverageRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".DebtEquityModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".DebtEquityModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".DebtRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".DebtRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".EquityRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".EquityRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".InventoryRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".InventoryRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".ReceivableRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".ReceivableRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".TurnoverRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".TurnoverRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".WorkingRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".WorkingRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".QuickRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".QuickRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".CashRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".CashRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".CurrentRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".CurrentRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".InvestmentRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".InvestmentRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AssetsRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AssetsRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".CapitalRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".CapitalRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ReturnRatioModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ReturnRatioModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".GrossMarginModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".GrossMarginModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".NetMarginModule2"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".NetMarginModule1"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Market"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Leverage"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Efficiency"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Liquidity"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Profitability"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>